<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<style>
    .nav {
        height: 100vh;
        padding: 10px;
        color: black;
        background: #F5ECCE;
    }
    form{
        padding: 50px;
        width: 500px;
        margin: 0 auto;
        /*display: flex;*/
        /*justify-content: center;*/
        /*flex-direction: column;*/
    }
</style>
<body>
<div th:fragment="header">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg  " style="background: forestgreen">
        <div class="container px-4 px-lg-5">
                <span>
                    <a class="navbar-brand" href="/">
                        <b style="font-size: 28px; color:#F5ECCE;  margin-right: -8px">게시판</b>
                    </a>
                </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/cart" style="color:#F5ECCE;">글쓰기</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/orders" style="color:#F5ECCE;">글목록</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" href="/members/login" style="color:#F5ECCE;">로그인</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false" style="color:#F5ECCE;">내정보</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/members/My">마이페이지</a></li>
                            <li><a class="dropdown-item" href="/members/logout">로그아웃</a></li>


                            <li>
                                <hr class="dropdown-divider"/>
                            </li>

                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <!-- Header-->

</div>
<div class="container row">
    <nav class="nav col-sm-2 flex-column" sec:authorize="isAuthenticated()" >
        <a class="nav-link active" aria-current="page" href="/templates/member/MyEmail.html" style="color: forestgreen">회원 정보 변경</a>
        <hr>
        <a class="nav-link" href="#" style="color: forestgreen">회원 탈퇴</a>
        <hr>
    </nav>
    <form sec:authorize="isAuthenticated()" class="col-sm-5">
        <h1>
            이메일수정
        </h1>
        <input type="hidden" id="id">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">현재 이메일</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">새로운 이메일</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">현재 주소</label>
            <input type="password" class="form-control" id="nowAdress">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">새로운 주소</label>
            <input type="password" class="form-control" id="newAdress">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">수정</button>
    </form>


</div>
</body>
</html>